.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        //-> cuando se tiene dos clases al mismo nivel se pone un &
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    text-align: center;
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;

        th {
            color: $blanco;
        }
    }

    tbody {
        color: $negro;
    }

    .imagen-tabla {
        width: 10rem;
    }
}

.imagen-small {
    width: 30rem;
}